In [48]:
#Q1

numbers = []
for i in range(20):
    number = int(input(f'Enter number  {i+1}: '))
    numbers.append(number)

positives = 0
negatives = 0
odds = 0
evens = 0
zeroes = 0

for i in range(20):
  if(numbers[i] == 0):
    zeroes += 1
  if(numbers[i] % 2 == 0):
    evens += 1
  if(numbers[i] % 2 == 1):
    odds += 1
  if(numbers[i] > 0):
    positives += 1
  if(numbers[i] < 0):
    negatives += 1


print(f'Odd numbers: {odds} \nEven Numbers: {evens} \nTotal Zeroes: {zeroes} \nPositives: {positives} \nNegatives: {negatives}')

Enter number  1: 1
Enter number  2: 2
Enter number  3: 3
Enter number  4: 4
Enter number  5: 5
Enter number  6: 6
Enter number  7: 7
Enter number  8: 8
Enter number  9: 9
Enter number  10: 10
Enter number  11: 11
Enter number  12: 12
Enter number  13: 13
Enter number  14: 14
Enter number  15: 15
Enter number  16: 16
Enter number  17: 17
Enter number  18: 18
Enter number  19: 19
Enter number  20: 20
Odd numbers: 10
Even Numbers: 10
Total Zeroes: 0
Positives: 20
Negatives: 0

In [47]:
#Q2

list1 = []

for i in range(10):
  num = input (f'Enter Number {i+1} :')
  list1.append(num)

list2 = []

j=0
for i in range (-1,-11,-1):
  list2.append(list1[i])
  j += 1

print("\nNumbers in list 2 are: ")
for i in range(10):
  print(list2[i])

Enter Number 1 :1
Enter Number 2 :2
Enter Number 3 :3
Enter Number 4 :4
Enter Number 5 :5
Enter Number 6 :6
Enter Number 7 :7
Enter Number 8 :8
Enter Number 9 :9
Enter Number 10 :10

Numbers in list 2 are:
10
9
8
7
6
5
4
3
2
1

In [27]:
#Q3

sum = 0

list2 = [1,2,3,4,5,6,7,8,9,10]

for i in range(10):
  sum += list2[i]

print(f'Sum of list2 elements is : {sum}')

Sum of list2 elements is : 55

In [29]:
#Q4

product = 1

list2 = [1,2,3,4,5,6,7,8,9,10]

for i in range(10):
  product *= list2[i]

print(f'Product of list2 elements is : {product}')

Product of list2 elements is : 3628800

In [30]:
#Q5

list2 = [1,2,3,4,5,6,7,8,9,10]

max = list2[0]
min = list2[1]

for i in range(10):
  if(list2[i] < min):
    min = list2[i]
  if(list2[i] > max):
    max = list2[i]

print(f'Max={max}\nMin={min}')

Max=10
Min=1

In [36]:
#Q6

list2 = [1,2,3,2,1]

isPalindrome = True;


for i in range(len(list2)//2):
  if list2[i] != list2[-i-1]:
    isPalindrome = False

if(isPalindrome):
  print("List is Palindrome")
else:
  print("List is not Palindrome")

List is Palindrome

In [37]:
#Q7

tuple1 = 1,2,3

a,b,c = tuple1

print(f'{a}\n{b}\n{c}')

1
2
3

In [38]:
#Q8
tuple1 = (1, 2, 3)
my_list = list(tuple1)
my_list.append(4)
new_tuple = tuple(my_list)
print(new_tuple)

(1, 2, 3, 4)

In [39]:
#Q9

my_tuple = (("a", 1), ("b", 2), ("c", 3))
my_dict = dict(my_tuple)
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [41]:
#Q10

tuple1 = (1,2,3)
newTuple = tuple1[::-1]

print(newTuple)

(3, 2, 1)

In [58]:
#Q11
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8]

new_list = []
length = 0
if(len(list1)<len(list2)):
  length = len(list1)
else:
  length = len(list2)

for i in range(length):
    new_list.append(list1[i])
    new_list.append(list2[i])

if len(list1) > length:
    new_list.extend(list1[length:])
elif len(list2) > length:
    new_list.extend(list2[length:])

print(new_list)

[1, 6, 2, 7, 3, 8, 4, 5]

In [42]:
#Q12
tuple_to_sort = 15,19,-1,6

sorted_tuple = tuple(sorted(tuple_to_sort))
print(sorted_tuple)

(-1, 6, 15, 19)

In [43]:
#Q13
dict1= {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 7000}
}

dict1['emp3']['salary'] = 8500

print(dict1)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [44]:
#Q14

class Student:
    def __init__(self, name, roll_number, gender, cgpa):
        self.name = name
        self.roll_number = roll_number
        self.gender = gender
        self.cgpa = cgpa

    def get_name(self):
        return self.name

    def get_roll_number(self):
        return self.roll_number

    def get_gender(self):
        return self.gender

    def get_cgpa(self):
        return self.cgpa

    def set_name(self, name):
        self.name = name

    def set_roll_number(self, roll_number):
        self.roll_number = roll_number

    def set_gender(self, gender):
        self.gender = gender

    def set_cgpa(self, cgpa):
        self.cgpa = cgpa

student = Student("John Doe", "12345", "Male", 3.8)
print(student.get_name())
print(student.get_roll_number())
print(student.get_gender())
print(student.get_cgpa())

student.set_name("Jane Smith")
student.set_roll_number("54321")
student.set_gender("Female")
student.set_cgpa(3.9)

print(student.get_name())
print(student.get_roll_number())
print(student.get_gender())
print(student.get_cgpa())

John Doe
12345
Male
3.8
Jane Smith
54321
Female
3.9

In [51]:
#Q15

class Student:
    def __init__(self, name, roll_number, gender, cgpa):
        self.name = name
        self.roll_number = roll_number
        self.gender = gender
        self.cgpa = cgpa

    def get_name(self):
        return self.name

    def get_roll_number(self):
        return self.roll_number

    def get_gender(self):
        return self.gender

    def get_cgpa(self):
        return self.cgpa

    def set_name(self, name):
        self.name = name

    def set_roll_number(self, roll_number):
        self.roll_number = roll_number

    def set_gender(self, gender):
        self.gender = gender

    def set_cgpa(self, cgpa):
        self.cgpa = cgpa

    @staticmethod
    def display_male_students(students):
        for student in students:
            if student.get_gender() == "male":
                print(f"Name: {student.get_name()}, Roll Number: {student.get_roll_number()}, CGPA: {student.get_cgpa()}")


student1 = Student("John Doe", 12345, "male", 3.8)
student2 = Student("Jane Smith", 54321, "female", 3.9)
student3 = Student("Mike Johnson", 67890, "male", 3.7)

student1.set_name("John Smith")
student2.set_cgpa(4.0)

print(f"Name: {student1.get_name()}, Roll Number: {student1.get_roll_number()}, Gender: {student1.get_gender()}, CGPA: {student1.get_cgpa()}")
print(f"Name: {student2.get_name()}, Roll Number: {student2.get_roll_number()}, Gender: {student2.get_gender()}, CGPA: {student2.get_cgpa()}")
print(f"Name: {student3.get_name()}, Roll Number: {student3.get_roll_number()}, Gender: {student3.get_gender()}, CGPA: {student3.get_cgpa()}")

students = [student1, student2, student3]

print("Records of Male Students:")
Student.display_male_students(students)

Name: John Smith, Roll Number: 12345, Gender: male, CGPA: 3.8
Name: Jane Smith, Roll Number: 54321, Gender: female, CGPA: 4.0
Name: Mike Johnson, Roll Number: 67890, Gender: male, CGPA: 3.7
Records of Male Students:
Name: John Smith, Roll Number: 12345, CGPA: 3.8
Name: Mike Johnson, Roll Number: 67890, CGPA: 3.7